<!--
  Generated template for the AddcuentaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Agregar cuenta</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
      <ion-item>
        <ion-label floating>Nro de cuenta</ion-label>
        <ion-input type="text" [(ngModel)]="cuenta.id" disabled="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Tipo cuenta</ion-label>
        <!-- <ion-select [(ngModel)]="cuenta.tipocuenta" >
          <ion-option *ngFor="let tipoCuenta of tipoCuentas" value="{{tipoCuenta.tipocuenta}}" >{{tipoCuenta.descripcion}}</ion-option>   
        </ion-select> -->
        <ion-select [(ngModel)]="cuenta.tipocuenta"> <ion-option *ngFor="let tipoCuenta of tipoCuentas" value="{{tipoCuenta.tipocuenta}}">{{tipoCuenta.descripcion}}</ion-option> </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>Cliente</ion-label>
        <ion-select [(ngModel)]="cuenta.cliente"> <ion-option *ngFor="let cliente of clientes" value="{{cliente.apellidos}}">{{cliente.apellidos}} {{cliente.nombres}}</ion-option> </ion-select>
      </ion-item> 

      <ion-item>
        <ion-label floating>Oficina</ion-label>
        <ion-select [(ngModel)]="cuenta.oficina"> <ion-option *ngFor="let oficina of oficinas" value="{{oficina.descripcion}}">{{oficina.descripcion}}</ion-option> </ion-select>
        
        <!-- <ion-select [(ngModel)]="cuenta.oficina">
          <ion-option value="Sucursal 2">Agencia Atuntaqui</ion-option>
          <ion-option value="Agencia Ibarra">Agencia Ibarra</ion-option>
          <ion-option value="Agencia Atuntaqui">Agencia Otavalo</ion-option>
          <ion-option value="Agencia San Pablo">Agencia San Pablo</ion-option>
        </ion-select> -->
      </ion-item>
      <ion-item>
        <ion-label floating>Fecha apertura</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="cuenta.fecha"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label floating>Saldo</ion-label>
        <ion-input type="text"  [(ngModel)]="cuenta.saldo" ></ion-input>
      </ion-item>
              
    </ion-list>
    <button ion-button color="primary" block (click)="addCuenta()">Guardar cuenta</button>
    <button *ngIf="id != 0" ion-button color="danger" block (click)="deleteCuenta()">Eliminar cuenta</button>
  

</ion-content>
